# general
.idea
*.code-workspace
.DS_Store
._.DS_Store

# python
__pycache__/
*.pyc

.envrc

# helps Lennart configure his vim
pyrightconfig.json

/private/
**/.claude/*
!/.claude/tools/
!/.claude/tools/**
!/.claude/skills/
!/.claude/skills/**
