proto/
proto_src/
/markdown/
node_modules
**/locales/*.json
.next/
_next/
coverage/
junit.xml
ci-build-protos.sh
*.Dockerfile
*.log
yarn.lock
Dockerfile
generate_protos.sh
deployment/
Makefile
README.md
docker-compose.yaml
Dockerfile
Dockerfile.backedupold
Dockerfile.stage
proto_may_27_2022.tar.gz
tsconfig.tsbuildinfo
