global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  external_labels:
    origin_prometheus: '{PROMETHEUS_ENVIRONMENT}'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'backend-endpoints'
    static_configs:
      - targets: ['backend:8000']

  - job_name: 'backend-jobs'
    static_configs:
      - targets: ['backend:8001']

remote_write:
- url: https://prometheus-blocks-prod-us-central1.grafana.net/api/prom/push
  basic_auth:
    username: 120557
    password: {GRAFANA_CLOUD_TOKEN}
