version: "3.8"
services:
  postgres:
    image: postgis/postgis:13-3.1
    restart: always
    env_file: postgres.prod.env
    volumes:
      - "./data/postgres/pgdata/:/var/lib/postgresql/data/"
    ports:
      - 5432:5432
    networks:
      - postgres_backend
  backend:
    image: registry.gitlab.com/couchers/couchers/backend
    restart: always
    env_file: backend.prod.env
    expose:
      - 1751
      - 1752
      - 1753
    depends_on:
      - postgres
    networks:
      - postgres_backend
      - backend_media
      - backend_envoy
      - backend_nginx
      - backend_prometheus
  media:
    image: registry.gitlab.com/couchers/couchers/media
    restart: always
    env_file: media.prod.env
    volumes:
      - "./data/media/uploads/:/uploads/"
    expose:
      - 5000
    depends_on:
      - backend
    networks:
      - backend_media
      - media_nginx
  envoy:
    image: registry.gitlab.com/couchers/couchers/proxy
    restart: always
    expose:
      - 8888
      - 9901
    networks:
      - backend_envoy
      - envoy_nginx
  nginx:
    image: registry.gitlab.com/couchers/couchers/nginx
    restart: always
    env_file: nginx.prod.env
    volumes:
      - "./data/certs/:/certs/"
      - "./data/nginx/logs/:/var/log/nginx/"
    ports:
      # we don't support HTTP on the APIs, etc, users don't access these URLs directly anyway, so no redicrect is OK
      #- 80:80
      - 443:443
    networks:
      - backend_nginx
      - media_nginx
      - envoy_nginx
  prometheus:
    image: registry.gitlab.com/couchers/couchers/prometheus
    restart: always
    env_file: prometheus.prod.env
    depends_on:
      - backend
    networks:
      - backend_prometheus

networks:
  postgres_backend:
    driver: bridge
  backend_media:
    driver: bridge
  backend_envoy:
    driver: bridge
  backend_nginx:
    driver: bridge
  media_nginx:
    driver: bridge
  envoy_nginx:
    driver: bridge
  backend_prometheus:
    driver: bridge
