@charset "utf-8";

$couchers: #e47701;
$couchers-secondary: #00a398;

@import url('https://fonts.googleapis.com/css?family=Ubuntu:wght@400;600;700');

$family-sans-serif: "Ubuntu", sans-serif;

$primary: $couchers;
$grey-dark: #544458;
$success: #82bb42;
$warning: #3da4ab;
$danger: #f46d50;
$body-line-height: 1.6;
$gap: 32px;
$desktop: 769px + (2 * $gap);
$widescreen: 769px + (2 * $gap);
$fullhd: 769px + (2 * $gap);

@import "../../node_modules/bulma/bulma.sass";

.wide-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    width: auto;
}
