@charset "utf-8";

$couchers: #e47701;
$couchers-secondary: #00a398;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva:wght@400&display=swap");

$family-sans-serif: "Ubuntu", sans-serif;

$primary: $couchers;
$grey-dark: #544458;
$success: #82bb42;
$warning: #3da4ab;
$danger: #f46d50;
$body-line-height: 1.6;
$gap: 32px;
$desktop: 769px + (2 * $gap);
$widescreen: 769px + (2 * $gap);
$fullhd: 769px + (2 * $gap);

$navbar-dropdown-arrow: $couchers;
$navbar-item-hover-color: $couchers;
$navbar-dropdown-item-active-color: $couchers;

@import "../../node_modules/bulma/bulma.sass";

.wide-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.highlight-card {
    box-shadow: 0 0.5em 1em -0.125em rgba($couchers-secondary, 0.2), 0 0px 0 1px rgba($couchers-secondary, 0.05) !important;
}

@media (max-width: $desktop) {
    .no-padding-on-mobile {
        padding: 0px !important;
    }
}

.handbook-anchor:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}
