@charset "utf-8";

$purple: #643073;
$brown: rgb(84, 68, 88);
$blue: #3da4ab;
$green: #82bb42;
$red: #f46d50;

$grey-dark: $brown;
$primary: $purple;
$success: $green;
$warning: $blue;
$danger: $red;


@import "../../node_modules/bulma/bulma.sass";
