# Ignore everything
**
**/__pycache__*

# Allow specific files and directories
!proto
!src
!resources
!templates
!alembic.ini
!pyproject.toml
!feature-flags.dev.json

# It's not included into the final image, but is still needed here
# for "--mount=type=bind"
!uv.lock

