alembic
boto3
cryptography
geoalchemy2
geoip2
grpcio
http_ece
Jinja2
luhn
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation-grpc
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-threading
opentelemetry-sdk
phonenumbers
pre-commit
prometheus-client
protobuf
psycopg2-binary
py-vapid
pynacl
pytest
pytest-cov
python-dateutil
pytz
pyyaml
requests
ruff
sentry-sdk
Shapely
sqlalchemy
sqlalchemy-utils
stripe<13.0
# we include this here (even though it's a dependency of user-agent), so that dependabot will remind to update it if needed
ua-parser
user-agents
