alembic
autoflake
black
geoalchemy2
grpcio==1.38.0
isort
Jinja2
luhn
phonenumbers
prometheus-client
protobuf
psycopg2-binary
pynacl
pytest
pytest-cov
pytest-pythonpath
python-dateutil
pytz
pyyaml
requests
sentry-sdk
Shapely
sqlalchemy<1.4
stripe>=2.58.0,<3.0
