body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
 * Fix for map canvas not taking full width inside a grid container. 
 * See https://stackoverflow.com/questions/57166761/mapbox-gl-height-100#answer-57280834 
 */

.mapboxgl-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
