<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ frontmatter.subject|couchers_escape }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
      {% if content %}
      {{ content|couchers_safe }}
      {% else %}
      <p>Sorry, an unknown error occurred, please forward this email to <a href="mailto:bugs@couchers.org">bugs@couchers.org</a> so we can investigate further.</p>
      {% endif %}
      <hr />
      <p>You're receiving this email because you signed up for Couchers.org. If you have any issues, email us at <a href="mailto:support@couchers.org">support@couchers.org</a>.</p>
      {% if _footer_unsub_link %}
      <p>If you wish to stop receiving emails from Couchers, click on this link: <a href="{{ _footer_unsub_link|couchers_safe }}">unsubscribe all</a>.</p>
      {% endif %}
  </body>
</html>
