{% macro button(text, link) -%}
<a style="background-color: #00a398; border-radius: 5px; margin: 20px; padding: 10px 20px; color: #ffffff; text-decoration: none; box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);" href="{{ link|couchers_safe }}">{{ text|couchers_escape }}</a>
{%- endmacro %}

{% macro link(link, html) -%}
{%if html %}<a href="{{ link|couchers_safe }}">{{ link|couchers_safe }}</a>{% else %}<{{ link|couchers_safe }}>{% endif %}
{%- endmacro %}

{% macro email_link(address, html) -%}
{% if html %}<a href="mailto:{{ address|couchers_safe }}">{{ address|couchers_safe }}</a>{% else %}<{{ address|couchers_safe }}>{% endif %}
{%- endmacro %}

{% macro support_email(html) -%}
{{ email_link("support@couchers.org", html)|couchers_safe }}
{%- endmacro %}

{% macro newline(html) -%}
{% if html %}<br />{% endif %}
{%- endmacro %}
