<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ frontmatter.subject|couchers_escape }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
      {% if content %}
      {{ content|couchers_safe }}
      {% else %}
      <p>Sorry, an unknown error occurred, please forward this email to <a href="mailto:bugs@couchers.org">bugs@couchers.org</a> so we can investigate further.</p>
      {% endif %}
      <hr />
      <p>This is an automatic system notification. You should not have received this unless you are an admin.</p>
  </body>
</html>
