proto/
proto_src/
/markdown/
node_modules
**/locales/*.json
.next/
_next/
coverage/
junit.xml
*.log
yarn.lock
Dockerfile
Dockerfile.prod
Makefile
README.md
typescript_protos.tar.gz
tsconfig.tsbuildinfo
update_protos.sh
docker-compose.yaml
ci-build-protos.sh
generate_static_manifest.sh
