---
title: Verification
---

# Verification

Our trust model is based on two important measurements: Community Verification and Community Standing. Community Standing tells users how beneficial you are for the community and indicates if people have found you safe to be around. Verification tells users whether to trust who you say you are.

We strongly believe in user privacy, and so we designed a verification system that does not require you to provide us with your personal information. Instead, you will require other members of the community to verify you.

## Our verification method

As a new, unverified member, you will have the opportunity to meet other members through the platform. Many users will not agree to let you host or surf with them, but it will be easy enough to meet other members at hangouts and events. When you meet new people, you may explain to them that you are a new member, and if they agree to verify you, you may show them a form of ID. That member will scan a QR phone from your app to verify that the ID is yours, what type of ID it is, and record the last few digits on your ID.

Having a community member verify your account willadd some percentage to your verification score, and you can repeat this a couple more times and other events and hangouts, preferably with different IDs. Your score will increase more if
 - The verification score of the member verifying you is 100%
 - The ID you've presented is different than another you've presented before
 - The member verifying you is from a different city and does not know the people that have verified you before

After verifying with 3 or so well-trusted people that are not connected with each other, you will be 100% verified. If you're surfing for the first time, you might head to a hangout in your home town before going on your trip, where you can go to another. That way you can be verified and get to understand couch-surfing through meeting people.


## Rationale

Users should be able to trust that other users are who they say they are. This is important because it prevents spam accounts and prevents users from creating more than one account. If users are banned or even just earn low enough Community Standing scores from making others feel unsafe, then we don't want them to be able to make new accounts.

CouchSurfing smashed together their verification and payment methods in a way that disincentivised verification and [undermined trust in the community](/issues/communities-and-trust). By reseparating verification and stressing its importance, it will be utilised as an important element of trust in our platform. 

Having members verify each other in person means we can keep information offline, apart from a few digits to uniquely tag the piece of ID for future reference to other IDs. Having the verification increase dependent on the member performing the verification will be able to anchor the network to a verified hub through all the verification actions. Prefering separate IDs makes it easier for real people to be verified faster, while making it harder for people with fake IDs.

Critically, it will be necessary for people from different parts of the global network to verify a new user. We need cross-polination from different communities. This prevents people from making 50 new accounts that all verify each other, as that would form a closed network, resulting in a small verification score. An account that is verified by well trusted people from different places is much more likely to be a real person.








